[Desktop Entry]
Name=FileSearch
Comment=Find file by name
Icon=

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_filesearch
X-KDE-PluginInfo-Author=Daniel Wutke
X-KDE-PluginInfo-Email=dwu.public@gmail.com
X-KDE-PluginInfo-Name=filesearch
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Website=https://github.com/dwu/krunner_filesearch
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
